:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --info-color: #17a2b8;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
}

body {
    background-color: var(--light-color);
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}
body, a {
    color: var(--dark-color);
}
body > .container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

#header, #footer {
    padding: 10px 20px;
}
#header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;

}
#header > .branding {
    margin-left: auto;
}
#header > *, #footer > * {
    display: inline-block;
    margin: 0;
}
#header nav ul {
    list-style-type: none;
    padding: 0;
}
#header nav ul li {
    display: inline;
}
#header nav ul li:not(:last-child)::after {
    content: ' / ';
}
nav li.active, nav li.active a {
    font-weight: bold;
}
nav li:not(.active), nav li:not(.active) a {
    font-weight: normal;
}
#main {
    padding: 20px;
}

#content > :first-child {
    margin-top: 0;
}

#footer {
    border-top: 1px solid #ccc;
}

@media (min-width: 768px) {
    #main {
        display: grid;
        grid-template-columns: auto 3fr;
        gap: 20px;
    }

    #nav {
        grid-column: 1;
    }
    #content {
        grid-column: 2;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark-color);
    }
    body, a {
        color: var(--light-color);
    }
}
