/* /wrap/wrap.css */

#header,
#main,
#footer {
    margin: 1em 0;
}
#header {
    border-bottom: solid 1px grey;
    padding: 0 0 1em;
}
#footer {
    border-top: solid 1px grey;
    padding: 1em 0;
}

.item {
    display: inline-block;
}

.large {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
	border: solid 1px black;
}

.large {
	display: block;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: white;
	text-align: center;
}

.large video {
	background: white;
	border: solid 1px var(--palette-300);
	max-width: 100%;
	height: calc(100% - 150px);
	margin: auto;
}
