body {
	font-family: "BorgiaPro", "ITC Garamond", "Garamond", "Adobe Garamond Pro", "Times", "Times New Roman", Serif;
	color: #666;
}

a:link, a:visited {
	color: #999;
	text-decoration: none;
}

a:hover, a:active {
	color: #000;
	text-decoration: underline;
}

h1 {
	font-weight: normal;
	font-size: 1.5em;
}

#front #header {
	display: none;
}

#header {
/*	font-size: 0.8em;*/
}
#footer {
	font-size: 0.8em;
}
#footer .cloud {
	display: none;
}
#footer .logo {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
